.header {
    padding: 60px;
    text-align: center;
    background: #009B77;
    color: white;
    font-size: 30px;
    height: 200px;
}

@media only screen and (max-width: 400px) {
    .header {
        width: 100%;
    }
}