.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}